/* body {
  font-size: 2em;
} */

#map {
    height: 100vh;
    background: grey;
    /* z-index:500; */
    position: fixed;
  }

  .page-header {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(145, 158, 250, 0.75);
 }

 #info-side-bar{
  background-color: white;
  z-index: 1030;
  position: absolute;
  right:25px;
  top:180px;
}

#search-bar {
  min-width: 200px;
}

#searchResult{
  height: 200px;
  overflow-y: scroll;

}
 /* Mobile Map */
