/* font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
  font-family: 'Ubuntu', sans-serif;
  
}

/* all headers */

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}

/* Nav bar*/

.navbar {
  padding-bottom: 0rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #616060;
}

.modal-title {
  font-family: 'Roboto', sans-serif;
  color: #494447
}

#about-us-modal {
  color: #6d6669
}

#contact-us-modal{
  color:#6d6669
}

.tagline {
  font-size: 0.85rem;
  font-style: italic;
  color: #616060;
  padding-bottom: 0px;
  margin-bottom: 6px;
}

#map {
    height: 100vh;
    position: fixed;
}

.popup {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13.5px;
}

.pop-up-img {
  width: 245px;
  height: 150px;
}

.leaflet-popup-content p{
  margin: 8px 0;
}

.leaflet-container a.leaflet-popup-close-button {
  padding-right: 25px;
  padding-top: 10px;
}
/* Info Bar */

#info-side-bar{
  background-color: rgb(255, 255, 255);
  font-family: 'Ubuntu', sans-serif;
  z-index: 1030;
  position: absolute;
  right: 23px;
  top: 155px;
}

#nav-filter-search {
  color: #FFA200;
}

#nav-filter-pools {
  color: #005DFF;
}

#nav-filter-parks {
  color: #009C5E;
}

#search-bar {
  min-width: 200px;
}

#searchResult{
  height: 200px;
  overflow-y: scroll;
}

.info-header {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
}

.filter-all {
  font-size: 14px;
}

.pResults {
  font-size: 14px;
}

.pResults:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  /* popup */
  h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  .popup {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
  }

  .pop-up-img {
    width: 225px;
    height: 125px;
  }

  .leaflet-popup-content p{
    margin: 8px 0;
  }
  
  /* info nav bar */

  #info-side-bar {
    font-size: 12.8px;
    right: 20px;
  }

  #info-side-bar h6 {
    font-size: 12.8px; 
  }

  #searchQuery{
    font-size: 12.8px;  
  }

  #searchResult{
    height: 150px;
    overflow-y: scroll;
  }
  
  .btn-parkfilter, .btn-poolfilter, .btn-reset {
    font-size: 12.8px;
  }

  .info-header {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0px;
  }
  
  .filter-all {
    font-size: 12px;
  }
  
  .pResults {
    font-size: 12px;
  }
}

/* Small devices */
@media (max-width: 576px) {
  /* for future search result area */
  /* #smSearchResult {
    height: 200px;
    overflow-y: scroll;
  } */

  /* nav bar */

  .navbar-light .navbar-nav .nav-link {
    color: #616060;
    font-size: 14px;
  }
  
  h4.modal-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .modal-body {
    margin-bottom: 0px;
  }

  .nav-modal-body {
    font-size: 13.5px;
    margin-top: 1px;
  }

  .nav-modal-btn {
    font-size: 12px;
  }

  .close-modal-btn {
    font-size: 20px;
  }

  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

    /* popup */
  h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }
  
  .popup {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
  }
  
  .pop-up-img {
    width: 200px;
    height: 110px;
  }
  
  .leaflet-popup-content p{
    margin: 6px 0;
  }

  /* nav search bar */
  .btn-group-sm>.btn, .btn-sm {
    font-size: 12px;
  }

  .form-control {
    font-size: 13px;
  }
}

