/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
  font-family: 'Ubuntu', sans-serif;
}

/* all headers */

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}

/* Nav */

.modal-title {
  font-family: 'Roboto', sans-serif;
  color: #494447
}

#about-us-modal {
  color: #6d6669
}

#contact-us-modal{
  color:#6d6669
}

.tagline {
  font-size: 0.85rem;
  font-style: italic;
  color: #616060;
  padding-bottom: 0px;
}

#map {
    height: 100vh;
    /* z-index:500; */
    position: fixed;
  }

.popup {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
}

/* Info Bar */

#info-side-bar{
  background-color: rgb(255, 255, 255);
  font-family: 'Ubuntu', sans-serif;
  z-index: 1030;
  position: absolute;
  right: 23px;
  top: 165px;

}

#nav-filter-search {
  color: #FFA200;
}


#nav-filter-pools {
  color: #005DFF;
}

#nav-filter-parks {
  color: #009C5E;
}

#search-bar {
  min-width: 200px;
}

#searchResult{
  height: 200px;
  overflow-y: scroll;
}

.info-header {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
}

.filter-all {
  font-size: 14px;
}

.pResults {
  font-size: 14px;
}
.pResults:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Small devices */
@media (min-width: 576px) {
  #smSearchResult {
    height: 200px;
    overflow-y: scroll;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  /* popup */
  h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  .popup {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
  }

  #pic-popup {
    width: 250px;
    height: 125px;
  }
  
  /* info nav bar */

  #info-side-bar {
    font-size: 12.8px;
    right: 20px;
  }

  #info-side-bar h6 {
    font-size: 12.8px; 
  }

  #searchQuery{
    font-size: 12.8px;  
  }

  #searchResult{
    height: 150px;
    overflow-y: scroll;
  }
  
  .btn-parkfilter, .btn-poolfilter, .btn-reset {
    font-size: 12.8px;
  }

  .info-header {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0px;
  }
  
  .filter-all {
    font-size: 12px;
  }
  
  .pResults {
    font-size: 12px;
  }
}


